<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="application/javascript" src="/javascripts/RecordRTC.min.js"></script>
  <script type="application/javascript" src="/socket.io/socket.io.js"></script>
  <script type="application/javascript" src="/javascripts/io.js"></script>
</html>
